{% extends "main.html" %}
{% block title %}dodaj sale{% endblock %}
{% block content %}
<form method="post">
  <div class="form-group">
    <label>Pojemnosc</label>
    <input type="text" class="form-control" name="Pojemnosc">

  </div>
    <div class="form-group">
    <label>Pietro</label>
    <input type="text" class="form-control" name="Pietro">

  </div>

  <button type="submit" class="btn btn-primary">Dodaj</button>
    <button type="submit" class="btn btn-primary">Dodaj procedura</button>
</form>
{% endblock %}