{% extends "main.html" %}
{% block title %}Lista trenerow{% endblock %}
{% block content %}
        <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imie</th>
                            <th>Naziwsko</th>
                            <th>Specjalnosc</th>
                            <th>Raport</th>
                            <th>Modyfikuj</th>
                            <th>Usun</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for tr in trenerzy %}
                    <form method="get">
                        <tr>

                            <td>{{ tr.Imie }}</td>
                            <td>{{ tr.Nazwisko }}</td>
                            <td>{{ tr.Specjalnosc }}</td>
                            <td> <a href = "{{ '/trenerzy/%s/raport'%tr.ID_Trenera }}">Raport</a></td>
                            <td> <a href = "{{ '/trenerzy/%s'%tr.ID_Trenera }}">Zmodyfikuj</a></td>
                            <td > <a href = "{{ '/trenerzy/%s/usun'%tr.ID_Trenera }}">Usun</a></td>
                        </tr>
                    </form>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        <form action="{{'/trenerzy/dodaj_trenera'}}">
    <button type="submit" class="btn btn-primary">Dodaj nowego trenera</button>
        </form>
{% endblock %}